@using CalendarioDiplomados.Models
@model LoginViewModel
@{
    ViewBag.Title = "Log in";
}


<style type="text/css">
    input  {
	    border: 1px solid #ccc;
	    -moz-border-radius: 10px;
	    -webkit-border-radius: 10px;
	    border-radius: 10px;	    
	    font-size: 20px;
	    padding: 4px 7px;
	    outline: 0;
	    -webkit-appearance: none;
    }
    input.rounded:focus {
	    border-color: #339933;
    }
    .text {
        background-color:white;
        opacity:0.5;
    }
    #inner-editor {
        opacity:1;
    }
    button {
        
    }

</style>



<div class="row" style="margin-top:100px; margin-bottom:50px;">
    <div class="col-md-5 col-md-offset-3">
        <img src="~/Content/images/logo.png" style="width:520px; height:200px;" />
    </div>
</div>


<div class="row">
    <div class="col-md-8">
        <section id="loginForm">
            @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                @Html.AntiForgeryToken()
                <h4></h4>
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group" style="padding-bottom:20px;">
                    @*@Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })*@
                    <div class="col-md-10">
                        @Html.TextBoxFor(m => m.Email, new { @class = "text col-md-offset-9", placeholder = "Nombre de Usuario" })
                        @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group" style="padding-bottom:20px;">
                    @*@Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })*@
                    <div class="col-md-10">
                        @Html.PasswordFor(m => m.Password, new { @class = "col-md-offset-9", placeholder = "Contraseña" })
                        @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                    </div>
                </div>

        <div class="form-group" style="padding-bottom:20px;">

            <div class="col-md-10">
                <button style="min-width:243px; min-height:40px;background-color: #F96332; color:white;-moz-border-radius: 10px;border-radius: 10px;font-weight:bold" type="submit" class="col-md-offset-9 btn btn-default" />Entrar
            </div>
        </div>
                @*<div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <div class="checkbox">
                            @Html.CheckBoxFor(m => m.RememberMe)
                            @Html.LabelFor(m => m.RememberMe)
                        </div>
                    </div>
                </div>*@
                
               
                @*<p>
                   @Html.ActionLink("Register as a new user", "Register")
                </p>*@
                @* Enable this once you have account confirmation enabled for password reset functionality
                    <p>
                        @Html.ActionLink("Forgot your password?", "ForgotPassword")
                    </p>*@
            }
        </section>
    </div>
    @*<div class="col-md-4">
        <section id="socialLoginForm">
            @Html.Partial("_ExternalLoginsListPartial", new ExternalLoginListViewModel { ReturnUrl = ViewBag.ReturnUrl })
        </section>
    </div>*@
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}