@model CalendarioDiplomados.Models.Diplomado

@{
    ViewBag.Title = "Create";
}
<link rel="stylesheet" type="text/css" href="https://code.jquery.com/ui/1.11.3/themes/smoothness/jquery-ui.css">
<h2 class="col-lg-offset-2">Crear Nuevo Diplomado</h2>
<style type="text/css">
    #formId{
    }

</style>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div id="formId" class="form-horizontal col-lg-offset-2">
        <h4></h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            <div class="control-label col-md-2">
                @Html.Label("Nombre", new { @class = "" })
            </div>
            
            <div class="col-md-10 ">
                @Html.EditorFor(model => model.nombre, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.nombre, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="control-label col-md-2">
                @Html.Label("Fecha de Inicio", new { @class = "" })
            </div>
            <div class="col-md-10">
               <input name="fechaInicio" type="date" id="fechaInicioDate" class="form-control" />
                @Html.ValidationMessageFor(model => model.fechaInicio, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="control-label col-md-2">
                @Html.Label("Fecha de Fin", new { @class = "" })
            </div>
            <div class="col-md-10">
                <input name="fechaFin" type="date" id="fechaFinDate" class="form-control" />
                @Html.ValidationMessageFor(model => model.fechaFin, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Crear" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryui")

    <script type="text/javascript">
    $(function () {
        $("#fechaInicio").datepicker();
        $("#fechaFin").datepicker();
    });
    </script>

}
