@model CalendarioDiplomados.Models.Diplomado

@{
    ViewBag.Title = "Details";
}

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
<link rel="stylesheet" type="text/css" href="http://cdnjs.cloudflare.com/ajax/libs/fullcalendar/2.4.0/fullcalendar.min.css">
<link href="~/Scripts/fullcalendar-scheduler-1.0.0/scheduler.css" rel="stylesheet" />
<script src="~/Scripts/export/excellentexport.min.js"></script>
<style type="text/css">


    #panelMayor {
        background: rgba(255,255,255,1);
        border-radius: 5px;
        min-height:1500px;
    }

    /*body {
        background-image: url('../../Content/images/backgroundWeb.png');
        background-repeat: no-repeat;
        background-size: 2500px 2500px;
    }*/
    #eventsTableDiv {
        margin: 0px;
        padding: 0px;
        width: 100%;
    }

    table a:link {
        font-weight: bold;
        text-decoration: none;
    }

    table a:visited {
        font-weight: bold;
        text-decoration: none;
    }

    table a:active,
    table a:hover {
        color: #bd5a35;
        text-decoration: underline;
    }

    table {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 12px;
        text-shadow: 1px 1px 0px #fff;
        background: #eaebec;
        margin: 20px;
        border: #ccc 1px solid;
        -moz-border-radius: 3px;
        -webkit-border-radius: 3px;
        border-radius: 3px;
        -moz-box-shadow: 0 1px 2px #d1d1d1;
        -webkit-box-shadow: 0 1px 2px #d1d1d1;
        box-shadow: 0 1px 2px #d1d1d1;
    }

        table th {
            padding: 21px 25px 22px 25px;
            border-top: 1px solid #fafafa;
            border-bottom: 1px solid #e0e0e0;
            background: #ededed;
            background: -webkit-gradient(linear, left top, left bottom, from(#ededed), to(#ebebeb));
            background: -moz-linear-gradient(top, #ededed, #ebebeb);
        }

            table th:first-child {
                text-align: left;
                padding-left: 20px;
            }

        table tr:first-child th:first-child {
            -moz-border-radius-topleft: 3px;
            -webkit-border-top-left-radius: 3px;
            border-top-left-radius: 3px;
        }

        table tr:first-child th:last-child {
            -moz-border-radius-topright: 3px;
            -webkit-border-top-right-radius: 3px;
            border-top-right-radius: 3px;
        }

        table tr {
            text-align: center;
            padding-left: 20px;
        }

        table td:first-child {
            text-align: left;
            padding-left: 20px;
            border-left: 0;
        }

        table td {
            padding: 18px;
            border-top: 1px solid #ffffff;
            border-bottom: 1px solid #e0e0e0;
            border-left: 1px solid #e0e0e0;
            background: #fafafa;
            background: -webkit-gradient(linear, left top, left bottom, from(#fbfbfb), to(#fafafa));
            background: -moz-linear-gradient(top, #fbfbfb, #fafafa);
        }

        table tr.even td {
            background: #f6f6f6;
            background: -webkit-gradient(linear, left top, left bottom, from(#f8f8f8), to(#f6f6f6));
            background: -moz-linear-gradient(top, #f8f8f8, #f6f6f6);
        }

        table tr:last-child td {
            border-bottom: 0;
        }

            table tr:last-child td:first-child {
                -moz-border-radius-bottomleft: 3px;
                -webkit-border-bottom-left-radius: 3px;
                border-bottom-left-radius: 3px;
            }

            table tr:last-child td:last-child {
                -moz-border-radius-bottomright: 3px;
                -webkit-border-bottom-right-radius: 3px;
                border-bottom-right-radius: 3px;
            }

        table tr:hover td {
            background: #f2f2f2;
            background: -webkit-gradient(linear, left top, left bottom, from(#f2f2f2), to(#f0f0f0));
            background: -moz-linear-gradient(top, #f2f2f2, #f0f0f0);
        }

    th {
        background-color: #31bc86;
        font-weight: bold;
        white-space: nowrap;
    }
</style>

<div id="panelMayor">
    <div>
        <div>
            <h2>
                <i class="fa fa-graduation-cap"></i>@Html.DisplayFor(model => model.nombre)
            </h2>

            <p style="float:right;">
                <a href="@Url.Action("Edit", "Diplomado", new { id = Model.ID })" class="btn btn-default">
                    Editar
                </a>
            </p>
        </div>

        <hr />
        <dl class="dl-horizontal">

            <dt>
                Fecha de Inicio
            </dt>

            <dd>
                @Html.DisplayFor(model => model.fechaInicio)
            </dd>

            <dt>
                Fecha Fin
            </dt>

            <dd>
                @Html.DisplayFor(model => model.fechaFin)
            </dd>

        </dl>


    </div>




    <ul class="nav nav-tabs">
        <li role="presentation" class="active"><a data-toggle="tab" href="#grupos">Grupos</a></li>
        <li role="presentation"><a data-toggle="tab" href="#modulos">Módulos</a></li>
        <li role="presentation"><a data-toggle="tab" href="#talleres">Talleres</a></li>
        <li role="presentation"><a data-toggle="tab" href="#facilitadores">Facilitadores</a></li>
        <li role="presentation"><a data-toggle="tab" href="#choferes">Choferes</a></li>
    </ul>

    <div class="tab-content">
        <div id="grupos" class="tab-pane fade in active">
            <h3></h3>
            @Html.Action("GruposDiplomado", "Grupo", new { diplomadoId = Model.ID })
        </div>
        <div id="modulos" class="tab-pane fade">
            <h3></h3>
            @Html.Action("ModuloDiplomado", "Modulo", new { diplomadoID = Model.ID })
        </div>

        <div id="talleres" class="tab-pane fade">
            <h3></h3>
            @Html.Action("TallerDiplomado", "Taller", new { diplomadoID = Model.ID })
        </div>


        <div id="facilitadores" class="tab-pane fade">
            <h3></h3>
            @Html.Action("FacilitadorDiplomado", "Facilitador", new { diplomadoID = Model.ID })
        </div>
        <div id="choferes" class="tab-pane fade">
            <h3></h3>
            <p>Próximamente</p>
        </div>



    </div>

    <div>        
        <h2> Programación <span style="color:red;font-size:0.5em">Formato de fecha: mes/dia/año</span> </h2> 
        <a download="eventos.xls" href="#" onclick="return ExcellentExport.excel(this, 'eventsTableDiv', 'eventos');">
            <i class="fa fa-file-excel-o" style="color:green;"></i> <span style="color:green; font-weight:bold;">Exportar Programación a Excel</span>
        </a>
        <div id="eventsTableDiv" style="overflow-x: scroll;">
            <table id="tableEventos">
                <thead>
                    <tr id="trHead">
                        <th>Grupo</th>

                    </tr>
                </thead>
                <tbody>
                    <tr></tr>

                </tbody>
            </table>

        </div>
    </div>



    @*<div>
        <h2> Calendario Total</h2>
        <div id="calendar" style="height:500px;">
        </div>
    </div>*@

</div>

@section Scripts {
    @Scripts.Render("~/bundles/jquery")
    <script src="~/Scripts/moment.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/2.4.0/fullcalendar.min.js"></script>
    <script src="~/Scripts/fullcalendar-scheduler-1.0.0/scheduler.js"></script>

    <script type="text/javascript">
        var eventosArr= new Array();
        var fechasOrder = new Array();
        var orderDate = 0;
        var kmax = 0;
        var isFirst = 0;
        $(function () {
            $.post("/Evento/GetEventosDiplomado?diplomadoID=" + @Model.ID, function (data) {
                var tempRecurso = "";
                //header de las fechas
                $.each(data.fechas, function(i, value) {
                    $("#trHead").append("<th id='fecha_" + i +"'>"+ value + "</th>"); 
                    var dict = {date: value, orden: i};
                    fechasOrder.push(dict);
                }),

                
                $.each(data.result, function(j, item) {
                    var isRepeated =  false; 
                    var poner = false;                   

                    if(tempRecurso != item.resourceName){
                        tempRecurso = item.resourceName;
                        kmax = 0;
                        $("#tableEventos").append("<tr id='recurso_" + item.resourceId+"' ><td>"+ item.title + "</td>");  
                        

                        for(var k = kmax; k < fechasOrder.length; k++){                           
                            if(fechasOrder[k].date == item.start){
                                poner = true;                                                                 
                                $("#recurso_" + item.resourceId).append("<td>C<i class='fa fa-check' style='color:green;'></i> <span> Taller: " + item.tallerNombre + " </span> </td>");

                                kmax = k+1;
                                console.log( "start = " +  item.start + ", fechasOrder = " + fechasOrder[k].date  +", k =" + k + ", poner = " + poner + ", Kmax = " + kmax);
                                break;
                            }
                            else{
                                poner = false;  
                                $("#recurso_" + item.resourceId).append("<td>X<i class='fa fa-asterisk' style='color:red;'></i></td>");
                                console.log( "start = " +  item.start + ", fechasOrder = " + fechasOrder[k].date  +", k =" + k + ", poner = " + poner + ", Kmax = " + kmax);
                            }        
                        }


                    }
                    else{                         
                        for(var k = kmax; k < fechasOrder.length; k++){                           
                            if(fechasOrder[k].date == item.start){
                                poner = true;                                                                 
                                $("#recurso_" + item.resourceId).append("<td>C<i class='fa fa-check' style='color:green;'></i> <span> Taller: " + item.tallerNombre + " </span> </td>");

                                kmax = k+1;
                                console.log( "start = " +  item.start + ", fechasOrder = " + fechasOrder[k].date  +", k =" + k + ", poner = " + poner + ", Kmax = " + kmax);
                                break;
                            }
                            else{
                                poner = false;  
                                $("#recurso_" + item.resourceId).append("<td>X<i class='fa fa-asterisk' style='color:red;'></i></td>");
                                console.log( "start = " +  item.start + ", fechasOrder = " + fechasOrder[k].date  +", k =" + k + ", poner = " + poner + ", Kmax = " + kmax);
                            }        
                           
                        }


                        $("#recurso_" + item.resourceId).append("</tr>");
                    }




                    for(var j=0; j< eventosArr.length; j++){
                        if(eventosArr[j].start == item.start){
                            isRepeated = true;
                            break;
                        }
                    }
                    if(isRepeated == false){
                        //$("#trHead").append("<th id='evento_" + item.id +"'>"+ item.start + "</th>");
                        eventosArr.push(item);
                        
                        
                    }


                }),

                //$.each(data.resources, function(i, item) {
                //    $("#tableEventos").append("<tr id='recurso_" + item.id+"' ><td>"+ item.title + "</td>");
                //    for(var i = 0; i < eventosArr.length; i++){
                //        var thStart =  $("#evento_" + eventosArr[i].id).text();
                //        if(eventosArr[i].resourceId == item.id){
                //            $("#recurso_" + item.id).append("<td><i class='fa fa-check' style='color:green;'></i></td>");
                //        }
                //        else{
                //            $("#recurso_" + item.id).append("<td><i class='fa fa-asterisk' style='color:red;'></i></td>");
                //        }
                //    }
                //    $("#recurso_" + item.resourceId).append("</tr>");

                //}),


                $('#calendar').fullCalendar({
                    header: {
                        left: 'prev,next today',
                        center: 'title',
                        right: 'timelineDay,timelineTenDay,timelineMonth,timelineYear',
                    },

                    views: {
                        timelineTenDay: {
                            type: 'timeline',
                            duration: { weeks: 2 }
                        }
                    },


                    resourceColumns: [
                            {
                                labelText: 'Grupos',
                                field: 'title'
                            },

				            {
				                labelText: 'Participantes',
				                field: 'participantes'
				            }
                    ],

                    resourceAreaWidth: '25%',
                    resourceLabelText: 'Grupos',
                    resources: data.resources,
                    events: data.result
                });
            });



        });
    </script>
}




