@model CalendarioDiplomados.Models.Diplomado

@{
    ViewBag.Title = "Edit";
}
<link rel="stylesheet" type="text/css" href="https://code.jquery.com/ui/1.11.3/themes/smoothness/jquery-ui.css">

<h2>Editar Diplomado</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4></h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.ID)

        <div class="form-group">
            <div class="col-md-10">
                @Html.EditorFor(model => model.nombre, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.nombre, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-10">
                <span style="font-weight:bold">Fecha de Inicio:</span> <input name="fechaInicio" id="fechaInicioDate" class="form-control" value="@Model.fechaInicio.ToString("dd-MMMM-yyyy")" />
                @Html.ValidationMessageFor(model => model.fechaInicio, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-10">
                <span style="font-weight:bold">Fecha de Din:</span> <input name="fechaFin" id="fechaFinDate" class="form-control" value="@Model.fechaFin.ToString("dd-MMMM-yyyy")" />
                @Html.ValidationMessageFor(model => model.fechaFin, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryui")

    <script type="text/javascript">
        $(function () {
            $("#fechaInicioDate").datepicker({ dateFormat: 'dd-mm-yy' });
            $("#fechaFinDate").datepicker({ dateFormat: 'dd-mm-yy' });
        });
    </script>
}
