@model IEnumerable<CalendarioDiplomados.Models.Diplomado>

@{
    ViewBag.Title = "Index";
}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">

<style type="text/css">
    #transparent {
        background: rgba(255,255,255,1);
        border-radius: 5px;
    }

    body {
        background-image: url('../../Content/images/backgroundWeb.png');
        background-repeat: no-repeat;
        background-size: 2000px 1500px;
    }
</style>



<h2 style="color:white;">Lista de Diplomados</h2>

<p>
    <a href='/Diplomado/Create' class="btn btn-success"><i class="fa fa-plus-circle" style="margin-right:5px;"></i>Crear Nuevo</a>
</p>

<div id="transparent" class="panel-default">
    <div class="panel-body">
        <table id="tableDiplomado" class="table">
            <tr>
                <th>
                    Nombre
                </th>
                <th>
                    Fecha de Inicio
                </th>
                <th>
                    Fecha Fin
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.nombre)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.fechaInicio)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.fechaFin)
                    </td>
                    <td>

                        <a style="margin-left:20px;" href="@Url.Action("Details", "Diplomado", new { id = item.ID })">
                            <i class="fa fa-eye" style="font-size:1.5em"></i>
                        </a>
                        <a style="margin-left:20px;" href="@Url.Action("Edit", "Diplomado", new { id = item.ID })">
                            <i class="fa fa-pencil-square-o" style="font-size:1.5em; color:green"></i>
                        </a>
                        <a style="margin-left:20px;" href="@Url.Action("Delete", "Diplomado", new { id = item.ID })">
                            <i class="fa fa-trash" style="font-size:1.5em; color:darkred"></i>
                        </a>

                        @*@Html.ActionLink("Detalles", "Details", new { id = item.ID }) |
                        @Html.ActionLink("Editar", "Edit", new { id = item.ID }) |
                        @Html.ActionLink("Borrar", "Delete", new { id = item.ID })*@
                    </td>
                </tr>
            }

        </table>
    </div>
</div>

@section scripts{
    <script type="text/javascript">
    </script>
}

