@model IEnumerable<CalendarioDiplomados.Models.Calendario>

@if (User.IsInRole("Administrador"))
{
    @*<p>
        @Html.ActionLink("Nuevo Calendario", "Create", new { grupoID = ViewBag.grupoID })
    </p>*@

    <a href="@Url.Action("Create", "Calendario", new { grupoID = ViewBag.grupoID })" class="btn btn-info">
        Nuevo Calendario
    </a>

    <a href="@Url.Action("CalendarioImportar", "Calendario", new { grupoID = ViewBag.grupoID })" class="btn btn-success">
        Importar de otro grupo
    </a>

}
<table class="table">
    <tr>

        <th>
            @Html.DisplayNameFor(model => model.nombre)
        </th>

        <th>
            Fecha Inicio
        </th>

        <th>
            Fecha Fin
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.nombre)
            </td>
            <td>
                Dia @item.fechaInicio.Day/ Mes @item.fechaInicio.Month / Año @item.fechaInicio.Year
                @*@Html.DisplayFor(modelItem => item.fechaInicio.Month  + item.fechaInicio.DayOfWeek )*@
            </td>
            <td>
                Dia @item.fechaFin.Day / Mes @item.fechaFin.Month /  Año @item.fechaFin.Year
            </td>
            <td>
                @Html.ActionLink("ver detalles", "Details", new { id = item.ID }) |
                @if (User.IsInRole("Administrador"))
                {
                    @Html.ActionLink("Editar", "Edit", new { id = item.ID, grupoID = ViewBag.grupoID }) <span>|</span> 
                    @Html.ActionLink("Borrar", "Delete", new { id = item.ID })
                }
            </td>
        </tr>
    }

</table>
