@model IEnumerable<CalendarioDiplomados.Models.Facilitador>

<h2>Facilitadores</h2>

<p>
    <a href="@Url.Action("Create", "Facilitador")" class="btn btn-success">
        +Nuevo Facilitador
    </a>
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.cedula)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.nombre)
        </th>
        <th>@Html.DisplayNameFor(model => model.telefono)</th>
        <th>@Html.DisplayNameFor(model => model.direccion)</th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.cedula)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.telefono)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.direccion)
        </td>
        <td>
           
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |           

            @if (User.IsInRole("Administrador"))
            {
                @Html.ActionLink("Edit", "Edit", new { id = item.ID }) <span>|</span>
                @Html.ActionLink("Delete", "Delete", new { id = item.ID })
            }
        </td>
    </tr>
}

</table>
