@model CalendarioDiplomados.Models.Grupo
<hr />
<div>
    <h2>Grupo: @Html.DisplayFor(model => model.nombre) - @Html.DisplayFor(model => model.Diplomado.nombre)</h2>
    <hr />
</div>
<link href="https://code.jquery.com/ui/1.11.3/themes/smoothness/jquery-ui.css" rel="stylesheet" />

<style type="text/css">
    #loadingDiv {
        position: absolute;
        top: 0px;
        right: 0px;
        width: 100%;
        height: 100%;
        background-color: #666;
        background-image: url('../../Content/images/hex-loader2.gif');
        background-repeat: no-repeat;
        background-position: center;
        z-index: 10000000;
        opacity: 0.4;
        filter: alpha(opacity=40);
    }
</style>







<div class="panel-group">
    <input type="hidden" id="grupoId" name="grupoId"  value="@Model.ID"/>
    <div class="panel-body" style="">
        <h2>Calendario </h2>
        @Html.Action("CalendarioGrupo", "Calendario", new { grupoID = Model.ID })
    </div>

    <div class="panel-body">
        <h2>Participantes </h2>
        <a href="#" class="btn btn-default" onclick="showBLPopup('@Url.Action("CreateByGrupo", "Participante", new { grupoID = Model.ID, Modal = true })', 'Inscribir Participantes'); return false;">
            <span class="glyphicon glyphicon-download-alt" aria-hidden="true"></span>Crear Nuevo..
        </a>

        <a style="background-color:green; color:white;" href="#" class="btn btn-default" onclick="showBLPopup('@Url.Action("InscribirParticipante", "Participante", new { grupoID = Model.ID, Modal = true })', 'Inscribir Participantes'); return false;">
            <span class="glyphicon glyphicon-download-alt" aria-hidden="true"></span>Inscribir..
        </a>

        <a style="" href="#" class="btn btn-default" onclick="showBLPopup('@Url.Action("ParticipanteInscripcionExcel", "Participante", new { grupoID = Model.ID, Modal = true })', 'Inscribir Participantes desde Excel'); return false;">
            <span class="glyphicon glyphicon-import" aria-hidden="true"></span>Importar desde Excel..
        </a>




        <table class="table table-striped" style="margin-top:20px;">
            <tr>
                <th>
                    <input type="checkbox" id="selectAll" />
                </th>
                <th>Nombre</th>
                <th>Cédula</th>
                <th>Teléfono</th>
                <th></th>
            </tr>
            @foreach (var item in Model.participantes) //.OrderBy(n => n.nombre)
            {
                <tr>
                    <td>
                        <input type="checkbox" id="participante_@item.ID" value="@item.ID" />
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.nombre)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.cedula)
                    </td>
                    <td>@Html.DisplayFor(modelItem => item.telefono)</td>
                    <td>
                        @if (User.IsInRole("Administrador"))
                        {
                            <a style="background-color:red; color:white;" href="#" id="btnDesinscribir" onclick="Desinscribir(@Model.ID, @item.ID)" class="btn btn-default">
                                <span class="glyphicon glyphicon-erase" aria-hidden="true"></span>Desinscribir..
                            </a>

                            <a style="background-color:blue; color:white;" href="@Url.Action("ParticipanteAsistencia", "Participante", new { grupoID = Model.ID, participanteID = item.ID })" id="btnAsistencia" class="btn btn-default">
                                <span class="glyphicon glyphicon-erase" aria-hidden="true"></span>Registro de Asistencia
                            </a>
                        }
                    </td>
                </tr>

            }

        </table>
        <div>
            <button id="btnSelectAll" type="button" class="btn btn-default">Des/Seleccionar todos</button>
            <button id="btnDesinscribirSelected" type="button" class="btn btn-default">Desinscribir Seleccionados</button>
            <button id="btnMoverGrupoSelected"  type="button" class="btn btn-default">Mover de Grupo</button>

        </div>


    </div>
</div>
<div class="modal fade" id="CreateModal" tabindex="-1" role="dialog" aria-labelledby="CreateModal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body" id="modalBody">
            </div>
        </div>
    </div>
</div>

<div id="dialog-confirm" title="Desinscribir Seleccionados?">
    <p>Esta seguro que desea des-inscribir a los participantes seleccionados?</p>
</div>


<div id="dialog" title="Confirmation Required">
    Desea desinscribir a este participante?
</div>

<div id="loadingDiv" style="margin: 0 auto; background-image: @Url.Content("~/Content/images/hex-loader2.gif"); ">
</div>


@section Scripts {
    <script src="https://code.jquery.com/ui/1.11.4/jquery-ui.min.js"></script>

    <script type="text/javascript">
    var checkStatus =  false;
    function showBLPopup(url, title) {
        $('#modalBody')
            .load(url,
                    function () {
                        $('#CreateModal').modal({ show: true, backdrop: true });
                    })
    };

    //Main Function
    (function ($) {
        $("#loadingDiv").hide();

        $("#dialog").dialog({
            autoOpen: false,
            modal: true
        });
        //Dialogo de confirmacion
        $( "#dialog-confirm" ).dialog({
            resizable: false,
            height:200,
            modal: true,
            autoOpen: false,
            buttons: {
                "Si": function() {
                    $( this ).dialog( "close" );
                    var participantesIDs = getParticipantesIdsChecked();
                    var grupoId = $("#grupoId").val();
                    console.log("grupoId = " + grupoId);
                    if(grupoId != undefined && participantesIDs.length > 0){
                        DesinscribirParticipantes(grupoId, participantesIDs);
                    }

                },
                Cancel: function() {
                    $( this ).dialog( "close" );
                }
            }
        });


        $("#btnDesinscribirSelected").on('click', function(){
            $( "#dialog-confirm" ).dialog( "open" );
        });

        $("#btnMoverGrupoSelected").on('click', function () {
            var participantesIDs = getParticipantesIdsChecked();
            var grupoId = $("#grupoId").val();
            var urlIds = "";
            $(participantesIDs).each(function (k, v) {
                if (k == 0) {
                    urlIds = v;
                }
                else {
                    urlIds = urlIds + "&participantes=" + v;
                }               
               
            });

            console.log("btnMoverGrupoSelected ok grupoID = " + grupoId + " participanteIds = " + participantesIDs);
            if (grupoId != undefined && participantesIDs.length > 0) {
                showBLPopup("@Url.Action("ParticipantesMover", "Participante")" + "?grupoSrc=" + grupoId + "&participantes=" + urlIds, 'Mover Participantes');
            }

        });

        $("#btnSelectAll").on('click', function(){
            if(checkStatus == true){
                checkStatus = false;
            }
            else
            {
                checkStatus = true;
            }
            $('tbody tr td input[type="checkbox"]').each(function(){
                var checked = $(this).prop('checked');
                $(this).prop('checked', checkStatus);
            });
        });

    })(jQuery);

    function Desinscribir(grupoId, participanteId){

        $("#dialog").dialog('option', 'buttons', {
            "Confirm": function () {
                $("#loadingDiv").show();
                $.ajax({
                    //url: '@Url.Action("DesInscribirParticipante", "Participante")' + "?grupoID=" + grupoId + "&participanteID=" + participanteId,
                    data: { grupoID: grupoId, participanteID:participanteId },
                    type: "POST",
                    success: function (result) {
                        $("#dialog").dialog("close");
                        $("#loadingDiv").hide();
                        document.location.reload();
                    }
                });
            },
            "Cancel": function () {
                $(this).dialog("close");
            }
        });
        $("#dialog").dialog("open");
    }




    function DesinscribirParticipantes(grupoId, participantesId) {
        $("#loadingDiv").show();
        $.ajax({
            url: '@Url.Action("DesInscribirParticipantes", "Participante")', //+ "?grupoID=" + grupoId + "&participantes=" + participantesId,
            data: {grupoID:grupoId, participantes: participantesId },
            type: "POST",
            success: function (result) {
                $("#dialog").dialog("close");
                $("#loadingDiv").hide();
                document.location.reload();
            }
        });
    }

    function getParticipantesIdsChecked(){
        var result = [];
        $('tbody tr td input[type="checkbox"]').each(function(){
            var checked = $(this).prop('checked');
            if(checked == true){
                result.push($(this).val());
                console.log("checkbox Selected = "+ $(this).val());
            }
        });
        return result;
    }



</script>
}
