

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://cdn.datatables.net/1.10.10/css/jquery.dataTables.min.css">

<style>
    .fa fa-times {
        color: red;
    }

    .fa fa-check {
        color: green;
    }

    #loadingDiv {
        position: absolute;
        top: 0px;
        right: 0px;
        width: 100%;
        height: 100%;
        background-color: #666;
        background-image: url('../../Content/images/hex-loader2.gif');
        background-repeat: no-repeat;
        background-position: center;
        z-index: 10000000;
        opacity: 0.4;
        filter: alpha(opacity=40);
    }

    .search {
        float: left;
        margin-bottom: 30px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
    }
</style>


<div class="panel-group">

    <div class="panel-body" style="">
        <h2>Asistencia del Grupo</h2>
    </div>

    <div class="panel-body">

        <div class="form-group">
            @Html.Hidden("grupoId", new { Value = @ViewBag.grupoId })
            <div class="control-label col-md-2">
                @Html.Label("Fechas del Calendario", new { @class = "" })
            </div>
            <div class="col-md-10">
                @Html.DropDownList("fecha", (IEnumerable<SelectListItem>)ViewBag.fechas, "--Seleccione la Fecha dia/mes/año--", new { @class = "form-control" })
            </div>
        </div>


        <div id="participantes" style="margin-top:80px;">
            <input class="search" placeholder="Buscar por nombre" />
            <table id="tblAsistencia" class="display" cellspacing="0" width="100%">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Nombre</th>
                        <th>Asistió Manana</th>
                        <th>Asistió Tarde</th>
                    </tr>
                </thead>
                <tbody class="list"></tbody>
            </table>
        </div>


    </div>
</div>
<div class="modal fade" id="CreateModal" tabindex="-1" role="dialog" aria-labelledby="CreateModal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body" id="modalBody">
            </div>
        </div>
    </div>
</div>

<div id="loadingDiv" style="margin: 0 auto;background-image: @Url.Content("~/Content/images/hex-loader2.gif");">

</div>


@section Scripts {
    @Scripts.Render("~/bundles/jquery")
    <script src="~/Scripts/list%20js/list.min.js"></script>

    <script type="text/javascript">
        var tableAsistencia;
        $(function () {
            $("#loadingDiv").hide();


            $("#fecha").on('change', function () {
                var value = $(this).val();
                if (value != '') {
                    var grupoId = $("#grupoId").val();
                    if (grupoId != undefined) {
                        $("#tblAsistencia tbody").html("");
                        getAsistenciaParticipantes(grupoId, value);
                    }

                }

            });


        });


        function getAsistenciaParticipantes(grupoId, eventoId) {
            var count = 0;

            $("#loadingDiv").show();
            $.ajax({
                url: '@Url.Action("getAsistenciaParticipantesGrupo", "Grupo")' + "?grupoId=" + grupoId + "&eventoId=" + eventoId,
                type: "GET",
                //data: { grupoId: grupoId, eventoId: eventoId },
                success: function (result) {
                    $.each(result, function (k, v) {
                        var tdAsistioManana = "";
                        var tdAsistioTarde = "";
                        if (v.asistioManana == false) {
                            tdAsistioManana = "<td id='participante_" + v.participanteId + "_tanda_1' onclick='registrarAusencia(" + eventoId + "," + v.participanteId + ", 1)'> <input id='hiddenAsistio_" + v.participanteId + "_tanda_1' type ='hidden' value='" + v.asistioManana + "'> <i style='color:red; font-size:1.5em' class='fa fa-times'></i></td>";
                        }
                        if (v.asistioManana == true) {
                            tdAsistioManana = "<td id='participante_" + v.participanteId + "_tanda_1' onclick='registrarAusencia(" + eventoId + "," + v.participanteId + ", 1)'> <input id='hiddenAsistio_" + v.participanteId + "_tanda_1' type ='hidden' value='" + v.asistioManana + "'>  <i style='color:green;font-size:1.5em' class='fa fa-check'></i></td>";
                        }

                        if (v.asistioTarde == false) {
                            tdAsistioTarde = "<td id='participante_" + v.participanteId + "_tanda_2' onclick='registrarAusencia(" + eventoId + "," + v.participanteId + ", 2)'> <input id='hiddenAsistio_" + v.participanteId + "_tanda_2' type ='hidden' value='" + v.asistioTarde + "'> <i style='color:red; font-size:1.5em' class='fa fa-times'></i></td>";
                        }
                        if (v.asistioTarde == true) {
                            tdAsistioTarde = "<td id='participante_" + v.participanteId + "_tanda_2' onclick='registrarAusencia(" + eventoId + "," + v.participanteId + ", 2)'> <input id='hiddenAsistio_" + v.participanteId + "_tanda_2' type ='hidden' value='" + v.asistioTarde + "'>  <i style='color:green;font-size:1.5em' class='fa fa-check'></i></td>";
                        }
                        $("#tblAsistencia").append("<tr><td>" + v.cedula + "</td><td class='nombre'>" + v.nombre + "</td>" + tdAsistioManana + "<td>" + tdAsistioTarde + "</td></tr>");

                    });
                    $("#loadingDiv").hide();

                    var options = {
                        valueNames: ['nombre']
                    };
                    var userList = new List('participantes', options);


                }
            });


        }



        function registrarAusencia(eventoID, participanteID, tandaAusencia) {
            var asistioState;
            asistioState = $("#hiddenAsistio_" + participanteID + "_tanda_" + tandaAusencia).val();
            
            $("#hiddenAsistio_" + participanteID + "_tanda_" + tandaAusencia).val('false');
            if (asistioState != undefined) {
                if (asistioState == 'true') {
                    $.ajax({
                        url: '@Url.Action("CreateAusencia", "Ausencia")' + "?eventoID=" + eventoID + "&participanteID=" + participanteID + "&tandaAusencia=" + tandaAusencia,
                        type: "POST",
                        success: function (result) {
                            $("#participante_" + participanteID + "_tanda_" + tandaAusencia).find("i").toggleClass('fa fa-times fa fa-check').css('color', 'red');

                        }
                    });
                }
                else {

                    $("#hiddenAsistio_" + participanteID + "_tanda_" + tandaAusencia).val('true');
                    $.ajax({
                        url: '@Url.Action("DeleteAusencia", "Ausencia")' + "?eventoID=" + eventoID + "&participanteID=" + participanteID + "&tandaAusencia=" + tandaAusencia,
                        type: "POST",
                        success: function (result) {
                            $("#participante_" + participanteID + "_tanda_" + tandaAusencia).find("i").toggleClass('fa fa-check fa fa-times').css('color', 'green');

                        }
                    });
                    console.log("Estado cambiado a true");
                }

            }


        }

        function quitarAusencia(eventoID, participanteID, element) {
            $.ajax({
                url: '@Url.Action("DeleteAusencia", "Ausencia")' + "?eventoID=" + eventoID + "&participanteID=" + participanteID,
                //data: { eventoID: eventoID, participanteID:participanteID},
                type: "POST",
                success: function (result) {
                    // $("#participante_" + participanteID).find("i").css('color', 'green');
                    $(element).css('color', 'green');
                    $("#participante_" + participanteID).find("i").toggleClass('fa fa-check fa fa-times');
                }
            });
        }


    </script>
}





