@model IEnumerable<CalendarioDiplomados.Models.Grupo>


<p>
    @if (User.IsInRole("Administrador"))
    {
        <a href="@Url.Action("Create", "Grupo", new { diplomadoID = ViewBag.diplomadoID })" class="btn btn-success">
            Crear Grupo
        </a>
    }
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.nombre)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.nombre)
            </td>
            <td>
                <a style="margin-left:20px;" href="@Url.Action("Details", "Grupo", new { id = item.ID, diplomadoID = ViewBag.diplomadoID })">
                    <i class="fa fa-eye" style="font-size:1.5em"></i>
                </a>
                @if (User.IsInRole("Administrador"))
                {
                    <a style="margin-left:20px;" href="@Url.Action("Edit", "Grupo", new { id = item.ID, diplomadoID = ViewBag.diplomadoID })">
                        <i class="fa fa-pencil-square-o" style="font-size:1.5em"></i>
                    </a>
                    <a style="margin-left:20px;" href="@Url.Action("Delete", "Grupo", new { id = item.ID })">
                        <i class="fa fa-trash" style="font-size:1.5em; color:darkred"></i>
                    </a>
                }
            </td>
        </tr>
    }

</table>
