@model CalendarioDiplomados.Models.Ausencia

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Ausencia</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Evento.ID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Evento.ID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Participante.cedula)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Participante.cedula)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
