@model CalendarioDiplomados.Models.Evento

@{
    ViewBag.Title = "Edit";
}
<link rel="stylesheet" type="text/css" href="https://code.jquery.com/ui/1.11.3/themes/smoothness/jquery-ui.css">
<h2>Cambiar Fecha de Evento </h2>
@*<h4> @Model.Taller.nombre</h4>*@

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4></h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.ID)
        @Html.HiddenFor(model => model.TallerID)
        @Html.HiddenFor(model => model.CalendarioID, new { @Value = ViewBag.CalendarioID })

        @*@Html.EditorFor(model => model.fechaIncicio, new { htmlAttributes = new { @class = "form-control", @id = "fechaIncicioDate" } })*@
        <input name="fechaIncicio" id="fechaIncicioDate" class="form-control"  value="@Model.fechaIncicio.ToString("dd-MMMM-yyyy")"/>

        <div class="panel">
            <div class="panel-heading">
                <div id="checkboxes">
                    <label for="one"><input name="opcionCheckbox" type="checkbox" checked="checked" value="1" />Desplazar los demás talleres</label>
                </div>
            </div>

            <div class="panel-body">


                <div class="form-group" style="width:400px;background-color:aliceblue" id="eventos">
                    <h4 style="text-align:center"> Dias que se repite:</h4>
                    <div id="checkboxes" style="">
                        <div class="row">
                            <div class="col-sm-2">
                                @Html.EditorFor(m => m.isLunes, new { htmlAttributes = new { @class = "form-control" } })
                            </div>
                            <div class="col-sm-2">
                                @Html.EditorFor(m => m.isMartes, new { htmlAttributes = new { @class = "form-control" } })
                            </div>
                            <div class="col-sm-2">
                                @Html.EditorFor(m => m.isMiercoles, new { htmlAttributes = new { @class = "form-control" } })
                            </div>
                            <div class="col-sm-2">
                                @Html.EditorFor(m => m.isJueves, new { htmlAttributes = new { @class = "form-control" } })
                            </div>
                            <div class="col-sm-2">
                                @Html.EditorFor(m => m.isViernes, new { htmlAttributes = new { @class = "form-control" } })
                            </div>
                            <div class="col-sm-2">
                                @Html.EditorFor(m => m.isSabado, new { htmlAttributes = new { @class = "form-control" } })
                            </div>
                            <div class="col-sm-2">
                                @Html.EditorFor(m => m.isDomingo, new { htmlAttributes = new { @class = "form-control" } })
                            </div>

                        </div>

                    </div>
                </div>

            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Salvar" class="btn btn-warning" />
                </div>
            </div>
        </div>
    </div>
}


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryui")

<script type="text/javascript">
    $(document).ready(function () {
        $("#fechaIncicioDate").datepicker({ dateFormat: 'dd-mm-yy' });
    });
</script>

}


